{% extends "base_header.html" %}
<body>
    {% block content %}
        <header class="masthead text-center text-white d-flex">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-8 mx-auto text-center">
                        <h2 class="section-heading text-white">This is monitoring, tracking, configuration and reporting tool.</h2>
                        <hr class="light my-4">
                        <p class="text-faded mb-4">Get graph statistics of your robot. </p>
                        <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started Proel 001</a>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}
</body>