{% extends "base_header.html" %}
<body>
    {% block content %}
        <header class="masthead text-center text-white d-flex">
            <div class="container">
                <section id="services">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Proel product service</h2>
                            <hr class="my-4">
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 text-center">
                                <div class="service-box mt-5 mx-auto">
                                    <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
                                    <h3 class="mb-3">Monitoring</h3>
                                    <p class="text-muted mb-0">This features allows you to monitor your machine.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 text-center">
                                <div class="service-box mt-5 mx-auto">
                                    <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
                                    <h3 class="mb-3">Configuration</h3>
                                    <p class="text-muted mb-0">This features allows you to configure your machine.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 text-center">
                                <div class="service-box mt-5 mx-auto">
                                    <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
                                    <h3 class="mb-3">Export data</h3>
                                    <p class="text-muted mb-0">This features allows you to export some statistics of your machine!</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 text-center">
                                <div class="service-box mt-5 mx-auto">
                                    <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                                    <h3 class="mb-3">Another features</h3>
                                    <p class="text-muted mb-0">This is some another features.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </header>
    {% endblock %}
</body>