{% extends "administration_base.html" %}
{% set use_datatables = True %}
{% set use_parsley = True %}
{% set use_ajax_download = True %}
<body>
    {% block content %}
    <div class="panel-header panel-header-sm">
    </div>
    <br>
    <div class="container">
        <div class="content">
            <div class="row">
                <!-- Change your password form -->
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Change your password</h5>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-10">
                                        {{ change_password_form }}
                                    </div>
                                </div>
                                <input class="btn btn-success btn-sm" type="submit" value="save" />
                            </form>
                        </div>
                    </div>

                <!-- End change your password form -->
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>

